
#first_body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#other_body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#page_header {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;

}

#page_header img {
    width: 130px;
}
img {
    display: inline-block;
    width: 200px;
}

.nav-link  {
    color: black;
}

#hamburger {
    display: none;
}

.first_page_p p{
    text-align: justify;
}

.ala {
    display: inline-block;
    width: 225px;
}

#back_arrow {
    width: 50px;
    left: 5px;
    top: 70px;
    cursor: pointer;
}

#jordan_article {
    margin-left: 20px;
    margin-right: 20px;

}

#jordan_article p {
    text-align: justify;
}

.jordan_images {
    /* display: block; */
    width: 200px;
    }

.Photo_album_h1 {
    text-align: center;
    width: 200px;
    margin: auto;
}

.photo_album_images {
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
}

#color_red {
    color: red;
}
.h2_center {
    text-align: center;
    margin: auto;
    font-style: italic;
    margin: 10px;
}

a {
    text-decoration: none;
}

.table {
    border: 1px solid black;
}
td, th {
    border: 1px solid black;
}
@media screen and (max-width: 1000px) {
    .ala {
        width: 200px;
    }
    
}

@media screen and (max-width: 300px) {
    #nemkell {
        display: none;
    }
}

@media screen and (max-width: 500px ) {
    .display_none {
        display: none;
    }
    table {
        display: none;
    }
}





